<section class="about">
   <div class="container">
    <p>
        In the last 20 years, the Internet has grown from being nearly 
        non-existent into the largest, most accessible database of information ever created.
         It has changed the way people communicate, shop, socialise, do business and think
          about knowledge and learning. Much more than just a new twist on distance learning, online
           schooling is changing the face of traditional 
        classrooms and making education more accessible than ever before.
    </p>
    <p>
        Online education is a form of education where students use their home computers through the internet. 
        For many nontraditional students, among them all those who want to continue working full time or raising families,
         online graduations and courses have become popular in the past decade. 
         Often online graduation and course programmes, some of which are conducted using digital technologies, 
        are provided via the online learning portal of the host university.
    </p>
   </div>
</section>