.course{
    background-color:rgba(71, 64, 64, 0.171);
    opacity: 100%;
    padding: 50px 100px;
    width: 100%;
    height: 600px;
}
.box{
    background-color: white;
    padding: 20px;
}
@media screen and (max-width:1200px) {

    .course{
        background-color:rgba(71, 64, 64, 0.171);
        opacity: transparent;
        width: 100%;
        height: 100%;
    }
    .box{
        margin: 20px;
        min-width: 300px;
    }
}