.ml-auto{
    margin-left: auto;
}
.navbar
{
 background-color:whitesmoke;
 font-weight: bold;
 object-fit: cover;
 object-position: center;
 font-style: italic;
}

.nav-item:hover
{text-decoration: underline;

}
.navbar-brand
{
    text-transform: uppercase;
}